* {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
  font-family: 'Titillium Web', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: linear-gradient(#000000, #200000);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.content {
  border-radius: 5vh;
  position: absolute;
  background-color: #202124;
  text-align:center;
  height: 70vh;
  width: 75vw;
  padding: 0%;
  margin: 0%;
}

#profilePhoto {
  border-radius: 100%;
  width: 15vw;
  padding: 2vmax;
}

#githubUserName {
  color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
}

#subtitle {
  padding: 0;
  margin: 0;
  color: rgb(177, 177, 177);
  font-size: medium;
}

#socialLinks {
  list-style: none;
  display: flex;
  gap: 7vw;
  justify-content: center;
  padding: 1vmax;
  margin: 2rem;
 
 }

.icon {
  height: 10vh;
  transition: all linear 300ms;
}

.icon:hover {
  height: 12vh;
}